@use 'src/base-styles/functions';

.pc-block {
  padding: functions.gap(3);

  .pc-block-avatar {
    margin-right: functions.gap(2);
  }

  .pc-block-title {
    margin-top: 0;
    margin-bottom: 0;
  }
}
