@use 'src/base-styles/functions';

.game-map-container {
  $container-gap: functions.gap(4);
  position: relative;
  margin: $container-gap;
  height: calc(100vh - #{$container-gap*4});
  overflow: hidden;
}

.game-map-background {
  position: absolute;
  inset: 0;

  background-color: #002B4D;


  &-layer {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/images/wave.svg') repeat 0 0 / 100px auto;

    &.reverse {
      background-position: 25px 50px;
      transform: scaleX(-1);
    }
  }
}

#map-svg {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.game-map,
#map-svg {
  overflow: visible;
  position: relative;
}

.game-map-zone:hover .game-map-zone-path {
  stroke: #000;
}
